*{
    max-width: 100%;
}

body{
    background: url("../images/mototeam.png");
    background-size: cover;
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 100px;
    -webkit-text-stroke: 2px black;
}

/* .index{
    background: url("../images/mototeam.png");
    background-size: 100%;
} */
