{% load static %}
<!DOCTYPE html>
<!--
	Technology by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html lang="en-US">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>UDMT - Moto Team</title>
	<link rel="shortcut icon" type="image/jpg" href="{% static '../static/favicon/favicon.ico' %}"/>
	
	<!-- CSS -->
    <link rel="stylesheet" href="{% static '../static/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '../static/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static '../static/css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static '../static/css/style.css' %}" />

	<!-- COLORS -->
    <link rel="stylesheet" href="{% static '../static/css/blue.css' %}" title="blue">
    <link rel="alternate stylesheet" href="{% static '../static/css/blue-munsell.css' %}" title="blue-munsell">

</head>
<body>

	<div id="st-preloader">
		<div id="pre-status">
			<div class="preload-placeholder"></div>
		</div>
	</div><!-- /#st-preloader -->

	<section id="home-page">
		<div class="container-fluid home-bg">
			<div class="row">
				<div class="col-md-12 text-center home-page">
					<h1>WEB EN DESARROLLO</h1>
					<h2>UDMT</h2>
                    <div class="row">
					<div class="col-sm-12 social-shear text-center">
						<a href="https://www.linkedin.com/showcase/deusto-moto-team/about/"><i class="fa fa-linkedin"></i></a>
						<a href="https://www.instagram.com/udeustomototeam/?hl=es"><i class="fa fa-instagram"></i></a>
						<a href="mailto:ud.dmt@deusto.es"><i class="fa fa-envelope"></i></a>
					</div><!-- /.social-shear -->
                    </div>   
				</div>
			</div>
		</div>
	</section><!-- /#home-page -->
	

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<p>&copy; 2015 <strong></strong>. All Rights Reserved. Designed by <strong><a href="http://templatestock.co" target="_blank">Template Stock</a></strong></p>
				</div>
			</div>
		</div>
	</footer><!-- /.footer -->
	
	<!-- JS -->
    <script type="text/javascript" src="{% static '../static/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static '../static/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '../static/js/countdown.js' %}"></script>
    <script type="text/javascript" src="{% static '../static/js/jquery.ajaxchimp.js' %}"></script>
    <script type="text/javascript" src="{% static '../static/js/scripts.js' %}"></script>

</body>
</html>